$main__color: #000000;
$hover__color: #ffffff;
$secon__color: #df6267;
$color__border: #d2d2d2;
$color__text: #9a8989;
$size: 100%;
$fz: 2rem;

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: auto 10%;
}


.header {
    .header__menu {
        margin-top: -1%;
        text-align: center;
        margin-left: $size/18;
        .link {
            display: inline-block;
            text-decoration: none;
            padding: 1.5%;
            padding-top: 2.8%;
            color: $main__color;
            margin-left: $size/90;
            &:hover {
                background-color:#3f3f3f;
                border-radius: 0 0 5px 5px;
                color: $hover__color;
            }
            .link__item {
                font-size: $fz/2.3;
            }
        }
    }
    .header__logo {
        margin-left: 43%;
        margin-top: 13%;
        width: 16%;
    }
    .header__title {
        padding-left: 31.9%;
        margin-top: 3.7%;
        padding-bottom: 10%;
        font-size: $fz*1.06;
        font-weight: 600;
        border-bottom: 2px solid $color__border;
    }
}

.section {
    .section__title {
        margin-top: 12.5%;
        margin-left: 29.8%;
        font-size: $fz/1.7;
        word-spacing: 10px;
        font-weight: 600;
    }
    .section__text {
        text-align: center;
        margin-top: 3%;
        margin-left: -1%;
        padding-bottom: 9%;
        font-size: $fz/2.5;
        line-height: 2.2;
        border-bottom: 2px solid $color__border;
    }
}

